<div class= "container">
    <h1>ユーザー情報一覧</h1>
    <% @end_users.each do |user| %>
    <table class= "table">
    <tr>
    <th>
        <%= user.last_name %>
        <%= user.first_name %>
    </th>
    <th><%= link_to admin_end_user_path(user) do %>
        <i>show</i>
    </th>
    <% end %>
    </tr>
    <% end %>
    </table>
    <%= paginate @end_users %>
</div>




