<div class= "container">
<h1>本当にこのユーザーを退会させますか？</h1>
<div class= "button_wrapper">
<%= link_to "中止する", edit_admin_end_user_path(@enduser), class: 'btn btn-warning' %>
</div>
<br>
<div class= "button_wrapper">
<%= link_to "退会させる", admin_end_user_path(@enduser.id), class: 'btn btn-danger', method: :delete %>
</div>
</div>
