<h1>本当に退会しますか？</h1>

<%= link_to root_path, method: :delete, class: "center-block" do %>
    <button type="button" class="btn btn-default btn-block">
        <span class="glyphicon glyphicon-wrench" aria-hidden="true">退会する</span>
    </button>
<% end %>