<h1>本当に退会しますか？</h1>

<%= link_to end_user_path(current_end_user), method: :delete, class: "center-block" do %>
    <div class="button_wrapper">
        <button type="button" class="btn btn-default">退会する</button>
    </div>
<% end %>
