/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
//リセットCSS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//clearfixも一応書いておきます
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
//グレーの線　<hr>でどこでも使えます。
hr {
    height: 1px;
    border: none;
    border-top: 1px #E0E0E0 solid;
}



//-------------------header用-------------------
header {
    width: 100%;
    background-color: rgb(235, 176, 103);
}
.nav-list {
    padding-top: 7px;
}
.nav-list-item {
    font-family: sans-serif;
    list-style: none;
    display: inline-block;
}
//----------------------------------------------


//-----------------フォント----------------------
h1 {
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(41, 29, 18);
    text-align: center;
}
h2 {
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(41, 29, 18);
}

//----------------------------------------------

//bootstrap用（大枠としても使えます）
.container {
    width: 90%;
}

//ボタン
.btn {
    border:thin solid rgb(179, 174, 167);
    text-align: center;
}
//ボタン中央寄せ用のdiv(btn自体だけだとmargin autoもtextaline:centerも効かない）
.button_wrapper {
    text-align: center;
}

//全てのaリンク下線なし
a {
    text-decoration: none;
}

table {
    margin: 0 auto;
    border:thin solid rgb(179, 174, 167);
    color: rgb(41, 29, 18);
}
table th td {
    height: 40px;
}

//-------------------検索ボックス-------------------
dl.searchbox {
    width: 200px;
    position:relative;
    background-color:white;
    // border:1px solid 
    border-radius:8px;
}
dl.searchbox dt{
    padding:3px;
}
dl.searchbox dt input{
    width:70%;
    height:25px;
    line-height:25px;
    background:none;
    border:none;
}
dl.searchbox dd{
    position:absolute;
    top:3px;
    right:1px;
    width:30%;
}
.search-btn{
    display:block;
    background:#aaa;
    width:100%;
    height:25px;
    line-height:25px;
    border:none;
    border-radius: 8px 8px 8px 8px;
    color:#FFF;
}

.search-btn:hover {
    background:#f0b661;
}
//--------------------------------------------