/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";



//フォント　font-family: 'M PLUS Rounded 1c', sans-serif;




//リセットCSS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//clearfixも一応書いておきます
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
//グレーの線　<hr>でどこでも使えます。
hr {
    height: 1px;
    border: none;
    border-top: 1px #E0E0E0 solid;
}
//bootstrap用（大枠としても使えます）
.container {
    width: 90%;
}


//-----------------中央寄せ----------------------
//ボタン 中央寄せ
.btn {
    border:thin solid rgb(179, 174, 167);
    text-align: center;
}
.btn:hover {
    transform: translateY(2px) translateX(2px);
    transition-duration: 0.1s;
}
//ボタン中央寄せ用のdiv(btn自体だけだとmargin autoもtextaline:centerも効かない）
.button_wrapper {
    text-align: center;
}

//中央寄せしたい時
.center{
    margin: 0 auto;
}

.pagination {
    justify-content: center;
}

//----------------------------------------------

//-----------------フォント----------------------
h1 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    font-style: bold;
    color: rgb(41, 29, 18);
    text-align: center;
}
h2 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 15px;
    color: rgb(41, 29, 18);
}

//----------------------------------------------

table{
    border: 1px solid rgb(226, 214, 202);
    border-collapse: separate;
    border-radius: 5px;
    border-spacing: 0;
    margin: 0 auto;
    th, td {
    border-bottom: 1px solid rgb(226, 214, 202);
    padding: 10px 20px;
    }
    th {
    border-right: 1px solid rgb(226, 214, 202);
    background: rgb(245, 239, 233);
    }
    tr{
    &:first-child{
        th{
        border-radius: 5px 0 0 0;
        }
        td{
        border-radius: 0 5px 0 0 ;
        }
    }
    &:last-child{
        th{
        border-bottom: none;
        border-radius: 0 0 0 5px;
        }
        td{
        border-bottom: none;
        border-radius: 0 0 5px 0;
        }
    }
    }
}


//-------------------header用-------------------
header {
    width: 100%;
}
ul {
    display: flex;
    padding-top: 15px;

    li {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    list-style: none;
    margin: auto;
    }
}
//----------------------------------------------



//-------------------検索ボックス-------------------
dl.searchbox {
    width: 200px;
    position:relative;
    // background-color:rgb(255, 255, 255);
    border:2px solid;
    border-radius:8px;
    border-color: rgb(226, 214, 202);
    margin-left: auto;
}
dl.searchbox dt{
    padding:0px;
}
dl.searchbox dt input{
    width:70%;
    height:25px;
    line-height:25px;
    background:none;
    border:none;
}
dl.searchbox dd{
    position:absolute;
    top:0px;
    bottom:0px;
    right:0px;
    width:30%;
}
.search-btn{
    display:block;
    background:rgb(226, 214, 202);
    width:100%;
    height:25px;
    line-height:25px;
    border:none;
    border-radius: 0px 6px 0px 6x;
    color:#FFF;
}

//--------------------------------------------


//全てのaリンク下線なし
a {
    color:rgb(41, 29, 18);
    text-decoration:none;
}
//マウスがリンクに乗っている時　色薄くなります。 
a:hover {
    color:rgb(161, 143, 126);
    text-decoration:none;
}

//ふわっとさせるアニメーション
.effect div {
    // margin: auto;
    transition: .5s;
}

.logo:hover {
    transform: translateY(2px) translateX(2px);
    transition-duration: 0.1s;
}


input[type="text"], input[type="password"], input[type="email"] {
    border-radius:8px;
    border-color: rgb(226, 214, 202);
}

submit[type="cubmit"] {
    border-radius:8px;
}