<div class= "container">
<h1>入荷情報編集</h1>
<%= form_for([admin, @arrival]) do |arrival| %>
<table class= "table">
<tr>
<th>シングル/アルバム名</th>
<th>
</th>
</tr>
<tr>
<th>数量</th>
<td>
<%= arrival.quantity%>
</td>
</tr>
<tr>

